<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Eugen Podaru's Resume'">
    <meta name="author" content="Eugen Podaru">

    <title>Eugen Podaru's Resume</title>

    @Styles.Render("~/Content/Styles/css")
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    @Html.Partial("_Navigation")

    @Html.Partial("_Header")

    @Html.Partial("_Experience")

    @Html.Partial("_SideProjects")

    @Html.Partial("_Skills")

    @Html.Partial("_Education")

    @Html.Partial("_Languages")

    @Html.Partial("_Certifications")

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/js")

    @Html.Partial("_GoogleAnalytics")
</body>
</html>
